* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 4px;
}

#display {
  flex: 1;
}

.container {
  flex: 1;
  display: flex;
  gap: 4px;
}

.digit,
.operator {
  border: none;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  flex: 1;
  min-width: 0;
  font-weight: 500;
  font-size: 28px;
  background-color: #495057;
  color: #f8f9fa;
}

.operator {
  background-color: #ff922b;
}

.operator:hover {
  background-color: #ffa94d;
}

.digit:hover {
  background-color: #868e96;
}

.operator:active,
.digit:active {
  transform: scale(1.01);
}
